<!DOCTYPE html>
<html lang="en">
<head>
  <title>Elyhaka's Website</title>
  {% include "_head_defaults.html" %}
</head>
<body class="index">
  {% include "_nav_side.html" %}
  <main>
    <div class="wrapper">
      {% include "_nav_top.html" %}

      <h1>Hello, world!</h1>
      <p>
        I'm Elyhaka, (but call me Ely). I'm a DevOps doing DevOps things.
      </p>
      <p>
        I've been doing experiments on my side for a long time, but recently I stumbled across some open-source projects I wanted
        to get involved in. From one thing to another, I created a GitHub account, and now I'm starting a personal blog to share
        some thoughts on the various things I try (and mostly fail ¯\_(ツ)_/¯).
      </p>
      <p>
        Building tools for other people is kind of what I love to do. By chance, this is what I mostly do at work, and it is
        probably what I will talk about most of the time.
      </p>

      <h2>Things I might post about:</h2>
      <ul>
        <li>Golang, .NET Core (C#/F#), Rust (still learning), Ruby.</li>
        <li>Linux generally and Nix/NixOS specifically.</li>
        <li>Desktop/Workflow (tiling windows manager and stuff).</li>
        <li>Custom mechanical keyboards, Synthwave music, and other useless stuff I love to loose time with.</li>
        <li>Shiba Inus (mine mostly, but not only).</li>
      </ul>

      <h2>Projects I'm working on:</h2>
      <ul>
        <li>
          <span class="extrabold underlined">Shadow-Nix</span>: Providing a proper integration of <a href="https://shadow.tech">Shadow</a> for NixOS. Links:
          <a href="https://github.com/Elyhaka/shadow-nix">GitHub</a>
        </li>
        <li>
          <span class="extrabold underlined">NixOS for WSL2</span>: Trying to create a complete NixOS distribution for WSL2. Links:
          <a href="https://github.com/Elyhaka/NixOS-WSL">GitHub (Image builder)</a>
          <a href="https://github.com/Elyhaka/NixOS-WSL-DistroLauncher">GitHub (Launcher)</a>
        </li>
        <li>
          <span class="extrabold underlined">Swaynimated</span>: Drawing animated wallpapers for wlroots using the GPU and Rust. Links:
          <a href="https://github.com/Elyhaka/Swaynimated">GitHub</a>
        </li>
      </ul>
    </div>
  </main>
</body>
</html>
